.baggage_transfer_item {
    margin-top: 8px;
    font-family: 'Open Sans', sans-serif;
    
    &__baggage_head {
        display: flex;
    }

    &__baggage_title {
        display: flex;
        align-items: center;
        height: 16px;
        margin-top: 8px;
        margin-bottom: 4px;
        font-size: 12px;
        font-weight: 600;
        color: #313140;
    }

    &__baggage_text {
        margin-top: 3px;
        margin-left: 6px;

        &_no_margin_top {
            margin-top:0;
        }
    }

    &__baggage_description_text {
        margin: 0;
        font-size: .75rem;
        font-weight: 400;
        line-height: 121%;
        text-decoration: none;
        color: #313140;
        list-style: none;
    }

    &__route_iata {
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.75;
        color: #0078BE;
    }

    &__iata {
        display: inline-flex;
        justify-content: space-between;
        width: 68px;
    }

    &__route_airlineName {
        margin-left: 8px;
        letter-spacing: normal;
    }
}
