.baggage_transfer {
    box-sizing: border-box;
    width: 296px;
    padding: 0 12px 12px 12px;
    font-size: 12px;
    border-radius: 4px;
    background-color: #F3F3FF;
    font-family: 'Open Sans', sans-serif;

    &__head {
        display: flex;
        align-items: center;
        height: 28px;
        margin-left: -4px;

        &_inner{
            display: flex;
            align-items: end;
        }
    }

    &__title {
        margin-left: 8px;
        font-weight: 600;
        line-height: 0.7;
        
    }

    &__delimiter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 84px;
        margin: 16px 0;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        color:#0078BE;
    }
}
