@media all and (max-width: 479px) {
  .card-hotel {

    &__title {
      margin-left -($cardPaddingMedia320)
      margin-right -($cardPaddingMedia320)
      padding 12px $cardPaddingMedia320 8px
    }

    &__gallery {
      float none
      width auto
    }

    &__description-short {
      float none
      width auto
      margin-bottom $cardPaddingMedia320
    }
  }
}