.cashbackMIR-label {
    align-items: center;


    display: flex;
    box-sizing: border-box;
    width: 242px;
    height: 26px;
    padding: 4px 6px;
    margin: 8px 0px 5px;


    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: #FFFFFF;
    white-space: pre;
    
    background: linear-gradient(92.1deg, #00935F -5.79%, #006948 45.14%, #00935F 110.62%), #359E00;
}
