@media all and (max-width: 479px) {
  .tour-page-flights-wrapper {
    padding-right 0

    .tour-page-flight {
      padding 5px
      min-height 90px

      &__info {
        &__time {
          font-size 20px
        }

        &__caption {
          font-size 11px
        }
      }

      &__content {
        &__route {
          &__point {
            &__caption {
              font-size 8px
              max-width 45px
            }
          }
        }
      }
    }
  }
}
