@media all and (max-width: 479px) {
  .general-form {

    &__buttons {

      &_with-offer {
        flex-wrap wrap
        justify-content flex-start

        & .uis-item {
          order 1
          width 100%
          margin-bottom 20px
        }
      }
    }

    &__table {
      display block
    }

    &__table-cell {
      padding 0
    }
  }
}
