@media all and (min-width: 480px) and (max-width: 759px) {
  .general-form {

    &__buttons {

      &_with-offer {
        display block
      }
    }

    &__table {
      display block
    }

    &__table-cell {
      padding 0
    }
  }
}
