  /* MODULES-772 уменьшил все размеры на 1/3 */
  /* высота 70% от 800 */
@media all and (max-device-height: 900px) and (min-device-height: 801px) {
  .hotel-map  {
    // height 560px
    height 340px
  }
}
  /* высота 70% от 700 */
@media all and (max-device-height: 800px) and (min-device-height: 701px) {
  .hotel-map  {
    // height 490px
    height 330px
  }
}
  /* высота 70% от 600 */
@media all and (max-device-height: 700px) and (min-device-height: 601px) {
  .hotel-map  {
    // height 420px
    height 250px
  }
}
  /* высота 70% от 500 */
@media all and (max-device-height: 600px) {
  .hotel-map  {
    height 210px
    // height 350px
  }
}
