.hotel-empty-data {
  height 430px
  text-align center

  &:before {
    content ''
    display inline-block
    height 100%
    vertical-align middle
  }

  &__wrapper {
    display inline-block
    vertical-align middle
    max-width 320px
  }

  &__illustration {
    color #dedee9
    margin-bottom 35px
  }

  &__title {
    color #00aae1
    text-transform uppercase
    font-weight bold
    margin-bottom 20px
  }

  &__text {

  }
}