TextOverflow() {
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
}

InlineVerticalBox(x = top) {
  box-sizing border-box
  display inline-block
  vertical-align x
}

Rouble(size = 18, weight = 300) {
  font-family verdanaRub
  font-size size px
  font-weight weight
  text-transform uppercase
}

TransitionHover() {
  transition all 150ms linear
}

$cardPadding = 30px
$cardPaddingMedia480 = 20px
$cardPaddingMedia320 = 10px

$backgroundGray = #f3f3ff

$hrBorder = #dfe0de

$fieldBorder = #dadae5
$fieldBackground = #fff

$colorGray = #999999
$colorBlack = #313140

$colorPositive = #85b200
$colorNegative = #fe0130
$colorNeutral = #ffda00
$colorNeutral_for-card = #999999