@media all and (min-width: 480px) and (max-width: 759px) {
  .prepayment {

    &__scheme {
      width 100%
    }
    &__scheme-description {
      padding 20px 12px
      margin-top 14px
    }
  }
}