.privacy-policy {
  
  &__text {
    font-size 12px
    line-height normal
    color #999999
    padding-top 6px
  }

  &__link {
    color link-color
    text-decoration underline
    transition all .2s

    &:hover {
      text-decoration none
    }
  }
}