.tooltip {
    position: absolute;
    z-index: 9;
    top: -20px;
    left: 13%;
    outline: 0;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    
    &__close {
        position: absolute;
        top: 4px;
        right: 8px;
        display: flex;
        width: fit-content;
        margin-left: 5px;
        cursor: pointer;
    }
    
    &__relative {
        position: relative;
    }
}

@media screen and (min-width: 576px) {
    .tooltip {
        left: 24%;
    }
}