@media all and (min-width: 480px) and (max-width: 759px) {
  .tour-failed {
    &__line {
      display block
      text-align center
      margin-left -($cardPaddingMedia480)
      margin-right -($cardPaddingMedia480)
      padding 10px $cardPaddingMedia480

      &-text {
        margin 0 0 10px
      }
    }
  }
}