@media all and (max-width: 479px) {
  .tour-failed {
    &__line {
      display block
      text-align center
      margin-left -($cardPaddingMedia320)
      margin-right -($cardPaddingMedia320)
      padding 10px $cardPaddingMedia320

      &-text {
        margin 0 0 10px
      }
    }
  }
}