.tour-buy-online {

  &__field-group {
    border 1px solid $fieldBorder
    padding 10px 16px 20px
    margin 0 0 20px

  }

  &__title {
    font-size 1.3em
    font-weight bold
    margin 0 0 0
  }

  &__text-small-muted {
    color $colorGray
    font-weight 500
    display block
    margin 0
  }

  &__link {
    color link-color
  }
}