@media all and (min-width: 480px) and (max-width: 759px) {
  .tour-request {
    display block
    width auto

    &__agency {
      width auto
      padding-left 0
      margin-top 30px
    }

    &__form {
      width auto
    }
  }
}