.uikit-select {

  &_general-form {
    margin-top 16px

    & .uikit-text_general-form {
      margin-top 0
    }
  }

  &__control-title {

    &_general-form {
      font-weight 600
    }
  }

  &__custom-scroll {
    z-index 4 //TODO: можно убрать, если санет .uikit-text__hint{z-index: < 3}
  }
}