/*@import "font-icon.css"*/
@import "_global"
@import "_parametres"

@import "uikit-popup/_tour-card"

@import "_accordion"
@import "_agency"
@import "_button"
@import "_card"
@import "_card-hotel"
@import "_comments"
@import "comments/_card-tour"
//@import "_field"
@import "_flight-transfer"
@import "_flights"
@import "_general-form"
@import "_hotel-empty-data"
@import "_hotel-map"
@import "_hotel-rating"
@import "_hotel-rating-number"
@import "_hotel-services"
@import "_hotel-weather"
@import "_prepayment"
@import "_prepayment-now"
@import "_price-checked-online"
@import "_privacy-policy"
@import "_rating-circle"
//@import "_rating-line"
@import "_reviews-content"
@import "_share-links"
@import "_subtitle"
//@import "_tabs"
@import "tabs/_hotel-forms"
@import "tabs/_tour-card"
@import "_tour-buy-online"
@import "_tour-control"
@import "_tour-failed"
@import "_tour-full-information"
@import "_tour-parameters"
@import "_tour-price-block"
@import "_tour-price-included"
@import "_tour-preview"
@import "_tour-properties"
@import "_tour-request"
@import "_tour-title"
@import "_uikit-datepicker"
@import "_uikit-item-id"
@import "_uikit-select"
@import "_uikit-text"
@import "_uis-carousel"
//@import "_uis-item-id"
//@import "_uis-loader"
@import "_uis-pagination"
@import "_uikit-gallery_card-module"
@import "_uis-text"
@import "uis-radio/_prepayment"
@import "uis-radio-group/_prepayment"

@import "_card-hotel_media1024"

@import "_general-form_media980"
@import "_prepayment-now_media980"

@import "_accordion_media480"
@import "_agency_media480"
@import "_button_media480"
@import "_card_media480"
@import "_card-hotel_media480"
//@import "_field_media480"
@import "_general-form_media480"
@import "_hotel-weather_media480"
@import "_prepayment_media480"
@import "_prepayment-now_media480"
@import "_reviews-content_media480"
@import "_subtitle_media480"
@import "_tour-control_media480"
@import "_tour-failed_media480"
@import "_tour-parameters_media480"
@import "_tour-request_media480"
@import "_tour-title_media480"

@import "_accordion_media320"
@import "_agency_media320"
@import "_button_media320"
@import "_card_media320"
@import "_card-hotel_media320"
@import "_hotel-services_media320"
//@import "_field_media320"
@import "_flights_media320"
@import "_general-form_media320"
@import "_hotel-weather_media320"
@import "_prepayment_media320"
@import "_prepayment-now_media320"
@import "_rating-circle_media320"
@import "_reviews-content_media320"
@import "_subtitle_media320"
@import "_tour-control_media320"
@import "_tour-failed_media320"
@import "_tour-parameters_media320"
@import "_tour-request_media320"
@import "_tour-title_media320"
@import "_uis-pagination_media320"
@import "_tour_animate"

@import "_hotel-map_media-all"
@import "_cashbackMIR"
@import "_casbackInfo" 
@import "_render_content_baggage"
@import _baggage_variant
@import _baggage_border
@import _tooltip
@import _baggage_transfer
@import _baggage_transfer_item