.uikit-popup {

  &__content {

    &_tour-card {
      background-color #fff
      box-sizing border-box
      padding 40px 60px 40px 20px
    }
  }

  &__close-button {
      z-index 1 // нужен яблокам
  }
}
