@import "../../../theme/theme.scss";
@import "../../../theme/mixins.scss";

.container {
  margin-top: 28px;
  text-align: center;

  @media($mobile-screen) {
    margin-top: 0;
    height: 100px;
  }

  & .title {
    margin: 0 0 8px 0;
    @include font-title-XXS;
    color: $color-text-dark;
  }

  & .message {
    margin: 0 0 8px 0;
    color: $color-text-dark;
    @include font-text-XS;
  }
}
