button-bg               = #3ebc56
button-bg-opacity20     = rgba(62, 188, 86, 0.2)
button-color            = #fff
button-shadow           = 0 2px 3px rgba(0,0,0,.3)
button-gradient         = linear-gradient(to bottom, #4ec565 0%,#3daf53 100%)
button-bg-second        = #3ebc56
button-color-second     = #fff
button-shadow-second    = 0 2px 3px rgba(0,0,0,.3)
button-gradient-second  = linear-gradient(to bottom, #4ec565 0%,#3daf53 100%)
button-text-transform   = uppercase
link-color              = #222837
link-color-opacity30    = #bcbec3
tab-bg                  = #f4f4f5
main-bg                 = #222837
main-shadow             = 0 3px 5px rgba(0,0,0,.5)
second-bg               = #109fb3
second-border           = #109fb3
people-color            = #ffffff
field-main-border       = transparent
field-second-border     = transparent
label-main-color        = #ffffff
label-second-color      = #ffffff
body-color              = #333
selected-color          = #fff

@import "../general-styles.styl"
