button-bg               = #feae00
button-bg-opacity20     = rgba(254, 174, 0, 0.21)
button-color            = #fff
button-shadow           = 0 2px 3px rgba(0,0,0,.3)
button-gradient         = linear-gradient(to bottom, #ffb719 0%,#f59600 100%)
button-bg-second        = #feae00
button-color-second     = #fff
button-shadow-second    = 0 2px 3px rgba(0,0,0,.3)
button-gradient-second  = linear-gradient(to bottom, #ffb719 0%,#f59600 100%)
button-text-transform   = uppercase
link-color              = #00544f
link-color-opacity30    = #c6dbd0
tab-bg                  = #f5f9f7
main-bg                 = #00544f
main-shadow             = 0 3px 5px rgba(0,0,0,.5)
second-bg               = #ebdaad
second-border           = #ebdaad
people-color            = #438865
field-main-border       = transparent
field-second-border     = #cacad9
label-main-color        = #fff
label-second-color      = #313140
body-color              = #333
selected-color          = #9797a6

@import "../general-styles.styl"
