button-bg               = #e56b6c
button-bg-opacity20     = rgba(229, 107, 108, 0.20)
button-color            = #fff
button-shadow           = 0 2px 3px rgba(0,0,0,.3)
button-gradient         = linear-gradient(to bottom, #ed8182 0%,#d96667 100%)
button-bg-second        = #e56b6c
button-color-second     = #fff
button-shadow-second    = 0 2px 3px rgba(0,0,0,.3)
button-gradient-second  = linear-gradient(to bottom, #ed8182 0%,#d96667 100%)
button-text-transform   = uppercase
link-color              = #8b8b8b
link-color-opacity30    = #dcdcdc
tab-bg                  = #f9f9f9
main-bg                 = #68c7dc
main-shadow             = 0 3px 5px rgba(0,0,0,.5)
second-bg               = #f6f6f6
second-border           = #f6f6f6
people-color            = #8b8b8b
field-main-border       = transparent
field-second-border     = #cacad9
label-main-color        = #fff
label-second-color      = #313140
body-color              = #333
selected-color          = #9797a6
star                    = #fff

@import "../general-styles.styl"
