button-bg               = #00d6b2
button-bg-opacity20     = rgba(0, 214, 178, 0.20)
button-color            = #fff
button-shadow           = 0 2px 3px rgba(0,0,0,.3)
button-gradient         = linear-gradient(to bottom, #00d6b2 0%,#07bb9d 100%)
button-bg-second        = #00d6b2
button-color-second     = #fff
button-shadow-second    = 0 2px 3px rgba(0,0,0,.3)
button-gradient-second  = linear-gradient(to bottom, #00d6b2 0%,#07bb9d 100%)
button-text-transform   = uppercase
link-color              = #00d6b2
link-color-opacity30    = #b2f3e8
tab-bg                  = #f2fdfb
main-bg                 = #525a6c
main-shadow             = 0 3px 5px rgba(0,0,0,.5)
second-bg               = #ececfb
second-border           = #ececfb
people-color            = #ff706d
field-main-border       = transparent
field-second-border     = #cacad9
label-main-color        = #fff
label-second-color      = #313140
body-color              = #333
selected-color          = #9797a6

@import "../general-styles.styl"
