button-bg               = #2980b9
button-bg-opacity20     = #d4e6f1
button-color            = #fff
button-shadow           = none
button-gradient         = linear-gradient(to bottom, #2980b9 0%,#2980b9 100%)
button-bg-second        = #2980b9
button-color-second     = #fff
button-shadow-second    = none
button-gradient-second  = linear-gradient(to bottom, #2980b9 0%,#2980b9 100%)
button-text-transform   = uppercase
link-color              = #2980b9
link-color-opacity30    = #bed9ea
tab-bg                  = #f4f4f5
main-bg                 = #2980b9
main-shadow             = none
second-bg               = #ececfb
second-border           = #ececfb
people-color            = #ffffff
field-main-border       = transparent
field-second-border     = transparent
label-main-color        = #ffffff
label-second-color      = #ffffff
body-color              = #333
selected-color          = #fff

@import "../general-styles.styl"
