button-bg               = #ffcc00
button-bg-opacity20     = #fff5cc
button-color            = #313140
button-shadow           = inset 0 -1px 0 #eb6907
button-gradient         = none
button-bg-second        = #ffcc00
button-color-second     = #313140
button-shadow-second    = none
button-gradient-second  = none
button-text-transform   = none
link-color              = #0078be
link-color-opacity30    = #b2d6eb
tab-bg                  = #edf8ff
main-bg                 = #0078be
main-shadow             = none
second-bg               = #fff
second-border           = #cacad9
people-color            = #f6a70e
field-main-border       = transparent
field-second-border     = #cacad9
label-main-color        = #fff
label-second-color      = #313140
body-color              = #313140
selected-color          = #9797a6
lending-color           = #f6a70e
font-titles             = panton
franchise               = #656565

@import "../general-styles.styl"
