button-bg               = #fff
button-bg-opacity20     = rgba(255, 255, 255, 0.2)
button-color            = #313140
button-shadow           = 0 2px 3px rgba(0,0,0,.3)
button-gradient         = linear-gradient(to bottom, #fff 0%,#dbdbea 100%)
button-bg-second        = #ff6b64
button-color-second     = #fff
button-shadow-second    = 0 2px 3px rgba(0,0,0,.3)
button-gradient-second  = linear-gradient(to bottom, #ff6b64 0%,#ff6b64 100%)
button-text-transform   = uppercase
link-color              = #ff6b64
link-color-opacity30    = #ffd2d0
tab-bg                  = #fff7f7
main-bg                 = #ff6b64
main-shadow             = 0 3px 5px rgba(0,0,0,.5)
second-bg               = #ffffff
second-border           = #cacad9
people-color            = #ff6b64
field-main-border       = transparent
field-second-border     = #cacad9
label-main-color        = #fff
label-second-color      = #313140
body-color              = #333
selected-color          = #9797a6

@import "../general-styles.styl"
