button-bg               = #f04c63
button-bg-opacity20     = rgba(240, 76, 99, 0.2)
button-color            = #fff
button-shadow           = 0 2px 3px rgba(0,0,0,.3)
button-gradient         = linear-gradient(to bottom, #f04c63 0%,#de475c 100%)
button-bg-second        = #f04c63
button-color-second     = #fff
button-shadow-second    = 0 2px 3px rgba(0,0,0,.3)
button-gradient-second  = linear-gradient(to bottom, #f04c63 0%,#de475c 100%)
button-text-transform   = uppercase
link-color              = #aa405c
link-color-opacity30    = #e5c5ce
tab-bg                  = #fbf5f7
main-bg                 = #5e2a4a
main-shadow             = 0 3px 5px rgba(0,0,0,.5)
second-bg               = #ffd183
second-border           = #ffd183
people-color            = #aa405c
field-main-border       = transparent
field-second-border     = #cacad9
label-main-color        = #fff
label-second-color      = #313140
body-color              = #333
selected-color          = #9797a6

@import "../general-styles.styl"
