button-bg               = #0d2f41
button-bg-opacity20     = rgba(13, 47, 65, 0.2)
button-color            = #fff
button-shadow           = 0 2px 3px rgba(0,0,0,.3)
button-gradient         = linear-gradient(to bottom, #08575e 0%,#0d2f41 100%)
button-bg-second        = #0d2f41
button-color-second     = #fff
button-shadow-second    = 0 2px 3px rgba(0,0,0,.3)
button-gradient-second  = linear-gradient(to bottom, #08575e 0%,#0d2f41 100%)
button-text-transform   = uppercase
link-color              = #0d2f41
link-color-opacity30    = #b6c0c6
tab-bg                  = #f3f4f5
main-bg                 = #47b89f
main-shadow             = 0 3px 5px rgba(0,0,0,.5)
second-bg               = #008587
second-border           = #008587
people-color            = #ffffff
field-main-border       = transparent
field-second-border     = #cacad9
label-main-color        = #313140
label-second-color      = #ffffff
body-color              = #333
selected-color          = #fff
star                    = #fff

@import "../general-styles.styl"
