button-bg               = #1d99dc
button-bg-opacity20     = rgba(29, 153, 220, 0.2)
button-color            = #fff
button-shadow           = 0 2px 3px rgba(0,0,0,.3)
button-gradient         = linear-gradient(to bottom, #48ade4 0%,#1d99dc 100%)
button-bg-second        = #1d99dc
button-color-second     = #fff
button-shadow-second    = 0 2px 3px rgba(0,0,0,.3)
button-gradient-second  = linear-gradient(to bottom, #48ade4 0%,#1d99dc 100%)
button-text-transform   = uppercase
link-color              = #1d99dc
link-color-opacity30    = #bbe0f4
tab-bg                  = #f3fafd
main-bg                 = #ecf0f1
main-shadow             = 0 3px 5px rgba(0,0,0,.5)
second-bg               = #2b3f51
second-border           = #2b3f51
people-color            = #ffffff
field-main-border       = #cacad9
field-second-border     = transparent
label-main-color        = #313140
label-second-color      = #ffffff
body-color              = #fff
selected-color          = #9797a6
hint-bg                 = #1d99dc
tab-color               = #1d99dc

@import "../general-styles.styl"
