@import '../../../../theme/theme.scss';
@import '../../../../theme/mixins.scss';

.filtersPlaceholder {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: calc(30% - 8px);
  box-sizing: border-box;
  
  @media($mobile-screen) {
    display: none;
  }
  
  * {
    box-sizing: border-box;
  }
}

.filtersPlaceholderTitle {
  @include font-text-XS;
  color: $color-text-dark;
  margin: 0 0 12px 0;
}
