@import '../../../theme/theme.scss';

.container {

  & .label {
    position: relative;
    padding-left: 24px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: $color-text-dark;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      content: "";
      border: 1px solid $color-brand-grey;
      border-radius: 4px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='8' height='8' fill='%23cdcdcd'%3E%3Cpath d='M6.9 0L3 5.5l-2-2-1 1.2L3.2 8 8 1.1z'/%3E%3C/svg%3E%0A") no-repeat center;
    }
  }

  & input {
    display: none;

    &:disabled + .label {
      color: $color-brand-grey;
      cursor: default;
    }

    // Активный checkbox
    &:checked + .label::before {
      cursor: pointer;
      border: 1px solid $color-brand-blue;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='8' height='8' fill='%230078be'%3E%3Cpath d='M6.9 0L3 5.5l-2-2-1 1.2L3.2 8 8 1.1z'/%3E%3C/svg%3E%0A") no-repeat center;
    }
  }
}
